@model SRSAD.Models.TypesIntervenant

@{
    ViewBag.Title = "Détails du type d'intervenant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Détails du type d'intervenant
                <small class="pull-right">
                    @Html.ActionLink("Modifier", "Edit", new { id = Model.TypeIntervenantID }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-default" })
                </small>
            </h2>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Informations</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 30%">@Html.DisplayNameFor(model => model.Code)</th>
                            <td><strong>@Html.DisplayFor(model => model.Code)</strong></td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Libelle)</th>
                            <td>@Html.DisplayFor(model => model.Libelle)</td>
                        </tr>
                        <tr>
                            <th>Statut</th>
                            <td>
                                @if (Model.EstActif)
                                {
                                    <span class="label label-success">Actif</span>
                                }
                                else
                                {
                                    <span class="label label-default">Inactif</span>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    @using (Html.BeginForm("Delete", "TypeIntervenant", new { id = Model.TypeIntervenantID }, FormMethod.Post, new { style = "display:inline", onsubmit = "return confirm('Êtes-vous sûr de vouloir supprimer ce type ?');" }))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span> Supprimer
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>