@model SRSAD.ViewModels.UsagerDetailsViewModel

@{
    ViewBag.Title = "Détails de l'usager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>
                @Model.NomComplet
                <small class="pull-right">
                    @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-default" })
                </small>
            </h2>
            <hr />
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#info">Informations</a></li>
        <li><a data-toggle="tab" href="#adresses">Adresses</a></li>
    </ul>

    <div class="tab-content">
        <div id="info" class="tab-pane fade in active">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Informations personnelles</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 30%">N° dossier SRSAD</th>
                                    <td><strong>@Model.NoDossierSRSAD</strong></td>
                                </tr>
                                <tr>
                                    <th>N° IPM</th>
                                    <td>@Model.NoDossierIPM</td>
                                </tr>
                                <tr>
                                    <th>RAMQ</th>
                                    <td>@Model.RAMQ</td>
                                </tr>
                                <tr>
                                    <th>Nom complet</th>
                                    <td>@Model.NomComplet</td>
                                </tr>
                                <tr>
                                    <th>Date naissance</th>
                                    <td>@(Model.DateNaissance?.ToShortDateString() ?? "-")</td>
                                </tr>
                                <tr>
                                    <th>Sexe</th>
                                    <td>@Model.Sexe</td>
                                </tr>
                                <tr>
                                    <th>Téléphone</th>
                                    <td>@Model.Telephone</td>
                                </tr>
                                <tr>
                                    <th>Statut tabagique</th>
                                    <td>@Model.StatutTabagique</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Informations administratives</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 30%">Statut dossier</th>
                                    <td>
                                        @if (Model.StatutDossier == "Hospitalisé")
                                        {
                                            <span class="label label-warning">@Model.StatutDossier</span>
                                        }
                                        else if (Model.StatutDossier == "Radié")
                                        {
                                            <span class="label label-default">@Model.StatutDossier</span>
                                        }
                                        else
                                        {
                                            <span class="label label-success">@Model.StatutDossier</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <th>Secteur</th>
                                    <td>@Model.Secteur</td>
                                </tr>
                                <tr>
                                    <th>CLSC</th>
                                    <td>@Model.CLSC</td>
                                </tr>
                                <tr>
                                    <th>Code Hydro-Québec</th>
                                    <td>
                                        @if (Model.CodeHydroQuebec)
                                        {
                                            <span class="label label-success">Oui</span>
                                        }
                                        else
                                        {
                                            <span class="label label-default">Non</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <th>Agent payeur</th>
                                    <td>@Model.AgentPayeur</td>
                                </tr>
                                <tr>
                                    <th>Centre de coût</th>
                                    <td>@Model.CentreDeCout</td>
                                </tr>
                                <tr>
                                    <th>Bon de commande</th>
                                    <td>@Model.BonCommande</td>
                                </tr>
                                <tr>
                                    <th>Date création</th>
                                    <td>@Model.DateCreation.ToShortDateString()</td>
                                </tr>
                                @if (Model.DateDerniereSyncEClinibase.HasValue)
                                {
                                    <tr>
                                        <th>Dernière sync E-Clinibase</th>
                                        <td>@Model.DateDerniereSyncEClinibase.Value.ToShortDateString()</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="adresses" class="tab-pane fade">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Historique des adresses</h3>
                        </div>
                        <div class="panel-body">
                            @if (Model.Adresses.Any())
                            {
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Adresse</th>
                                            <th>Téléphone</th>
                                            <th>Période de validité</th>
                                            <th>Source</th>
                                            <th>ID E-Clinibase</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var adresse in Model.Adresses)
                                        {
                                            <tr class="@(adresse.EstCourante ? "success" : "")">
                                                <td>
                                                    <strong>@adresse.TypeAdresse</strong>
                                                    @if (adresse.EstCourante)
                                                    {
                                                        <br /><span class="label label-success">Courante</span>
                                                    }
                                                </td>
                                                <td>@adresse.AdresseComplete</td>
                                                <td>@adresse.Telephone</td>
                                                <td>
                                                    @if (adresse.DateDebutValidite.HasValue)
                                                    {
                                                        @adresse.DateDebutValidite.Value.ToShortDateString()
                                                    }
                                                    @if (adresse.DateFinValidite.HasValue)
                                                    {
                                                        <text> - </text> @adresse.DateFinValidite.Value.ToShortDateString()
                                                    }
                                                    else if (adresse.EstActive)
                                                    {
                                                        <text> - Présent</text>
                                                    }
                                                </td>
                                                <td>@adresse.SourceAdresse</td>
                                                <td>@adresse.EClinibaseAdresseId</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p class="text-muted">Aucune adresse enregistrée.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>