@model SRSAD.ViewModels.UsagerDetailsViewModel

@{
    ViewBag.Title = "Détails du patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>
                @Model.Nom @Model.Prenom              

                <small class="pull-right">

                    @using (Html.BeginForm("Synchroniser", "Usager", new { id = Model.UsagerID }, FormMethod.Post, new { style = "display:inline;" }))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-warning" onclick="return confirm('Voulez-vous synchroniser ce patient avec E-Clinibase ? Cela mettra à jour ses informations démographiques et ses adresses.');">
                            <span class="glyphicon glyphicon-refresh"></span> Synchroniser
                        </button>
                    }
                    @Html.ActionLink("Modifier (Eclinibase)", "Edit", new { id = Model.UsagerID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Modifier (manuel)", "EditManuel", new { id = Model.UsagerID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Visites", "Index", "Visite", new { usagerId = Model.UsagerID }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-default" })
                </small>


            </h2>
            <hr />
        </div>
    </div>

    <!-- Le reste de votre vue Details (informations, adresses, etc.) -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Informations personnelles</div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>N° SRSAD</dt>
                        <dd>@Model.NoDossierSRSAD</dd>
                        <dt>N° IPM</dt>
                        <dd>@Model.NoDossierIPM</dd>
                        <dt>RAMQ</dt>
                        <dd>@Model.RAMQ</dd>
                        <dt>Nom complet</dt>
                        <dd>@Model.Nom @Model.Prenom</dd>
                        <dt>Date naissance</dt>
                        <dd>@(Model.DateNaissance?.ToShortDateString())</dd>
                        <dt>Sexe</dt>
                        <dd>@Model.Sexe</dd>
                        <dt>Téléphone</dt>
                        <dd>@Model.Telephone</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Informations administratives</div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Secteur</dt>
                        <dd>@Model.Secteur</dd>
                        <dt>CLSC</dt>
                        <dd>@Model.CLSC</dd>
                        <dt>Statut dossier</dt>
                        <dd>@Model.StatutDossier</dd>
                        <dt>Agent payeur</dt>
                        <dd>@Model.AgentPayeur</dd>
                        <dt>Statut tabagique</dt>
                        <dd>@Model.StatutTabagique</dd>
                        <dt>Code Hydro</dt>
                        <dd>@(Model.CodeHydroQuebec ? "Oui" : "Non")</dd>
                        <dt>Centre de coût</dt>
                        <dd>@Model.CentreDeCout</dd>
                        <dt>Bon commande</dt>
                        <dd>@Model.BonCommande</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <!-- Section adresses -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Adresses</div>
                <div class="panel-body">
                    @if (Model.Adresses.Any())
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Adresse</th>
                                    <th>Téléphone</th>
                                    <th>Validité</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var adresse in Model.Adresses)
                                {
                                    <tr>
                                        <td>
                                            @adresse.TypeAdresse
                                            @if (adresse.EstCourante)
                                            {
                                                <span class="label label-success">Courante</span>
                                            }
                                        </td>
                                        <td>@adresse.AdresseComplete</td>
                                        <td>@adresse.Telephone</td>
                                        <td>
                                            @if (adresse.DateDebutValidite.HasValue)
                                            {
                                                @adresse.DateDebutValidite.Value.ToShortDateString()
                                            }
                                            @if (adresse.DateFinValidite.HasValue)
                                            {
                                                <text> - </text>@adresse.DateFinValidite.Value.ToShortDateString()
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Aucune adresse enregistrée.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>